## SvenCo-op map CFG file - HL SP Map 
## Map By: Valve Software
plrstart_zoffset 0
nomaptrans c0a0d
nextmap c1a0
skill 2
mp_radiovoice 1
mp_disablegaussjump 1
killnpc 2
nomedkit
mp_monsterpoints 1
mp_timelimit 0
mp_fraglimit 0
mp_flashlight 1
mp_falldamage 1
mp_forcerespawn 0
mp_weaponstay 0
sv_accelerate 10
sv_airaccelerate 10
sv_airmove 1
sv_friction 4
sv_gravity 800
sv_maxspeed 270
sv_wateraccelerate 10
sv_waterfriction 1
mp_disable_autoclimb 1
mp_multiplespawn 1
