## SvenCo-op map CFG file - HL SP Map 
## Map By: Valve Software
nomaptrans c2a2g
nextmap c2a3a
skill 2
mp_radiovoice 1
mp_disablegaussjump 1
weapon_crowbar
weapon_glock
weapon_handgrenade
weapon_shotgun
weapon_mp5
weapon_m16
weapon_357
weapon_tripmine
weapon_satchel
ammo_357 6
ammo_ARgrenades 1
ammo_buckshot 4
ammo_9mm 9
## Set to 0 if you DON'T want players to get frags for killing monsters
mp_monsterpoints 1
## Map time limit, in minutes
mp_timelimit 60
## Map frag limit. Not recommended in most circumstances
mp_fraglimit 0
## File with list of maps to cycle through, in order
## mapcyclefile mapcycle.txt
## Setting of 1 allows players to use flashlight
mp_flashlight 1
## Setting of 1 enables 'realistic' falling damage
mp_falldamage 1
## Setting of 1 forces players to respawn about a sec after death
mp_forcerespawn 0
## Setting of 0 makes weapons disappear after they're picked up
## Weapons will respawn after a while, like ammo does.
mp_weaponstay 0
killnpc 0
## Physics stuff. 
## Don't change unless you know what Ur doing
sv_accelerate 10
sv_airaccelerate 10
sv_airmove 1
sv_friction 4
sv_gravity 800
sv_maxspeed 270
sv_wateraccelerate 10
sv_waterfriction 1
## Player Health - Must be between 1 and a 100
starthealth 100
## Player Armour - Must be between 1 and a 100
startarmor 25
mp_disable_autoclimb 1
mp_multiplespawn 1
